/* nav 높이 72 */
* {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
header a {
    color: white;
}
body::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #007ac3;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #eee;
}
/* header ============================================ */
/* header_nav====================== */
.nav_bar {
    display: flex;
    height: 72px;
    width: 100vw;
    align-items: center;
    position: absolute;
}
.nav_logo {
    background : url(../img/logos_header.png) no-repeat bottom ;
    height: 47px;
    width: 124px;
    position: absolute;
    top:11px;
    left: 62px;
}
.nav_list {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.nav_list a {
    position: relative;
    padding: 25px 29px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
}
.nav_bar::after {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
    border-bottom: 1px solid darkgray;
}
.nav_side {
    position: absolute;
    right: 0;
    display: flex;
}
.nav_side>div:nth-child(1) {
    width: 71px;
    height: 33px;
    margin-top: 19px;
}
.nav_side>div:nth-child(1)>a {
    position: relative;
    display: inline-block;
    width: 71px;
    height: 33px;
    background-image : url(../img/icons_gnb.png);
    background-position: left -99px;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    padding-right: 20px;
}

.nav_side>div:nth-child(1)>a:hover+ul {
    display: block;
}
.nav_side>div:nth-child(1)>a:hover::after {
    display: inline;
}
.nav_side>div:nth-child(1)>a::after {
    position: absolute;
    content: "KO";
    left: 0;
    width: 71px;
    height: 33px;
    background-color: white;
    color: blue;
    padding-right: 20px;
    box-sizing: border-box;
    display: none;
}

.nav_side ul {
    padding: 0;
    list-style: none;
    width: 71px;
    display: none;
    background-color: white;
    position: absolute;
}

.nav_side ul a {
    font-size: 15px;
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 20px 0 0;
    text-align: center;
    color: #666;
    font-weight: 500;
}
.nav_side>div:nth-child(2) {
    margin-left: 13px;
    position: relative;
}
.nav_side>div:nth-child(2)>a {
    display: inline-block;
    width: 60px;
    height: 72px;
    line-height: 72px;
    text-align: center;
}
.nav_side>div:nth-child(2)>a>span {
    display: inline-block;
    overflow: hidden;
    line-height: 33px;
    width: 33px;
    height: 33px;
    text-indent: -9999em;
    background-image: url(../img/icons_gnb.png);
    background-repeat: no-repeat;
    background-position: left -33px;
    vertical-align: middle;
}

.nav_side>div:nth-child(3) {
    position: relative;
}

.nav_side>div:nth-child(3)>a {
    display: inline-block;
    width: 60px;
    height: 72px;
    line-height: 72px;
    text-align: center;
}

.nav_side>div:nth-child(3)>a>span {
    display: inline-block;
    overflow: hidden;
    line-height: 33px;
    width: 33px;
    height: 33px;
    text-indent: -9999em;
    background-image: url(../img/icons_gnb.png);
    background-repeat: no-repeat;
    background-position: right -33px;
    vertical-align: middle;
}

.nav_side>div:nth-child(4) {
    margin-left: 15px;
    display: inline-block;
    width: 176px;
    height: 71px;
}
.nav_side>div:nth-child(4)>a {
    display: block;
    width: 176px;
    height: 72px;
    font-family: 'CJONLYONE';
    color: #fff;
    font-size: 15px;
    position: relative;
    line-height: 72px;
    text-align: center;
    border: dotted 1px transparent;
    box-sizing: border-box;
    background-color: #027ac4;
}
/* header_main====================== */
.header_main {
    position: relative;
    height: 800px;
    width: 100vw;
    z-index: -2;
}
.header_main_text {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}
.header_main_text>span {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    text-align: center;
    line-height: 1em;
    z-index: -2;
}
.header_main_text>span>span {
    font-size: 15px;
    text-decoration: underline;
}
.header_main_text::after {
    content: "";
    display: block;
    position: absolute;
    background: url(../img//cjlogistics_main.jpg) no-repeat center/cover;
    height: 100%;
    width: 100%;
    z-index: -3;
}

/* main ============================================ */

main{
    height: 1000px;
}